<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách sinh viên</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h3>Danh sách sinh viên</h3>
  <hr/>
  <a th:href="@{/student/create}" class="btn btn-success btn-sm mb-4">Thêm mới</a>
  <a th:href="@{/student/input}" class="btn btn-success btn-sm mb-4" >Xem điểm</a>
  <a th:href="@{/student/totalSV}" class="btn btn-success btn-sm mb-4" >Tổng sinh viên</a>
  <table class="table table-bordered table-striped">
    <thead class="table-info">
    <tr>
      <td>
        Mã Sinh Viên
      </td>
      <td>
        Tên sinh viên
      </td>
      <td>
        Giới tính
      </td>
      <td>
        Quê quán
      </td>
      <td>
        Ngày Sinh
      </td>
      <td>
        Mã lớp
      </td>
      <td>
        Tên lớp
      </td>
      <td>
        Tên hệ đào tạo
      </td>
      <td>
        Mã khóa học
      </td>
      <td>
        Tên khoa
      </td>
      <td>
        Điện thoại
      </td>
      <td>
        Xử lý
      </td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${SinhVienDTO}">
      <td th:text="${student.getMaSV()}" />
      <td th:text="${student.getTenSV()}" />
      <td th:text="${student.getGioiTinh()}" />
      <td th:text="${student.getQueQuan()}" />
      <td th:text="${student.getNgaySinh()}" />
      <td th:text="${student.getMalop()}" />
      <td th:text="${student.getTenLop()}" />
      <td th:text="${student.getTenHeDt()}" />
      <td th:text="${student.getMaKhoaHoc()}" />
      <td th:text="${student.getTenkhoa()}" />
      <td th:text="${student.getPhoneNumber()}" />
      <td>
        <a th:href="@{/student/pre(id=${student.getMaSV()})}" class="btn btn-info btn-sm">
          Chỉnh sửa
        </a>
        <a th:href="@{/student/delete/{id}(id=${student.getMaSV()})}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn xóa sinh viên này không?');">
          Xóa
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</body>
</html>
